body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.auth-buttons button {
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.auth-buttons .login {
    background: #fff;
    color: #000;
    border: 1px solid #7f3ce7;
}

.auth-buttons .signup {
    background: #7f3ce7;
    color: #fff;
}

section.hero {
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.hero-text {
    flex: 1;
    padding-right: 20px;
}

.hero-text h1 {
    font-size: 36px;
}

.hero-text p {
    font-size: 18px;
    margin: 20px 0;
}

.hero-text .cta {
    display: inline-block;
    margin-top: 20px;
    background: #7f3ce7;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.hero-image {
    flex: 1;
    text-align: right;
    padding-left: 20px;
}

.hero-image img {
    width: 80%;
}

section.feature {
    padding: 50px 0;
}

.feature-item {
    margin-bottom: 50px;
}

.feature-item img {
    width: 100%;
    height: auto;
    display: block;
}

.feature-item h2 {
    font-size: 24px;
    margin: 20px 0;
}

.feature-item p {
    font-size: 16px;
    margin: 20px 0;
}

.feature-item .cta {
    background: #7f3ce7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 120px;
}

footer .footer-section h4 {
    margin-bottom: 10px;
}

footer a {
    color: #5c67f2;
    text-decoration: none;
    margin-bottom: 5px;
}

footer .contact-info {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-section {
        margin-bottom: 20px;
    }
}
